@import "../../../assets/mixins";

.et-select-dropdown {
    cursor: pointer;
    line-height: 20px;
    position: relative;
    min-width: 165px;

    &__caption {
        @include font-bold;
        padding: 16px 16px 8px 16px;
    }

    &__value {
        padding: 16px;
        background: $select-color;
        color: $text-color;
        border-radius: $main-border-radius;
        border: 1px solid lightgray;

        &._disabled {
            cursor: default;
        }

        &:hover:not(._disabled) {
            background: $select-hover-color;
        }

        &-main {
            @include font-bold;
            line-height: 14px;
        }

        &._empty {
            text-align: center;
        }
    }

    &__list {
        border-radius: $main-border-radius;
        background: $select-color;
        color: black;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid lightgray;
        box-shadow: 0 0 9px 2px #00000011;
        width: max-content;
        max-width: calc(100vw - 32px);
        z-index: 2;

        &-item {
            padding: 16px 24px 16px 16px;

            &._selected {
                background: $main-gray-color;
            }

            &:hover,
            &._selected:hover {
                background: $main-color;
                color: white;
            }
        }
    }
}
