@import "../../../assets/mixins";

.et-button {
    padding: 16px;
    border-radius: $main-border-radius;
    color: $text-color;
    @include font-regular;
    font-size: 16px;
    outline: none;
    border: 1px solid lightgray;
    background: white;
    box-shadow: 1px 1px 3px 1px #00000008;
    transition: background 100ms ease-in-out, transform 150ms ease-in-out, color 100ms ease-in-out;

    &._disabled {
        opacity: 0.5;
    }

    &:hover:not(._disabled) {
        background: $button-hover-color;
        cursor: pointer;
    }

    &:active:not(._disabled) {
        transform: scale(0.96);
    }

    &._action:not(._disabled) {
        background: $main-color;
        color: white;
        border-color: $text-color;
        //@include font-bold;

        &:hover:not(._disabled) {
            background: $main-color-hover;
        }
    }
}
